.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    height: 100%; 
    margin: 0;
    padding: 0;
}

.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    min-width: 760px;   
}

.img-container {
    align-items: stretch;
    align-self: center;
    background-image: url('../img/6.png');
    background-position-x: -46px;
    background-position-y: 0px;
    background-size: 468.32px 630px;
    width: 380px;
    height: 600px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin-right: 30px;
    position: relative; 
}

.dynamic-images {
    position: absolute;
    width: 250px;
    margin: -7px 0 0 95px;
}

#screen1 {
    animation-name: opacityfades1;
    animation-duration: 28s;    
    animation-iteration-count: infinite;  
    z-index: 400;   
}

#screen2 {
    animation-name: opacityfades2;
    animation-duration: 28s;    
    animation-iteration-count: infinite;  
    z-index: 300;   
}

#screen3 {
    animation-name: opacityfades3;
    animation-duration: 28s;    
    animation-iteration-count: infinite;  
    z-index: 200;   
}

#screen4 { 
    z-index: 100;   
}

.content {
    width: 350px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.sign-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    background-color: white;    
    width: 348px;
    height: 394px;
}

.instagram-title {
    margin-top: 44px;
    margin-bottom: 34px;
}

.input-container {
    position: relative;
    margin-bottom: 6px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: rgb(219, 219, 219);
    width: 266px;	
    height: 36px;   
    background-color: rgb(250, 250, 250);    
}

.input-text[type="text"] {
    font-size: 12px;
    padding-left: 10px;
    height: 100%;  
    width: 100%;      
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    background-color: rgb(250, 250, 250);    
}

.input-text:focus {
    outline: none;
}

.input-container:focus-within {     
    border-color: rgb(158, 158, 158);
}

.placeholder {
    position: absolute;
    font-size: 12px; 
    top: 9px;
    left: 10px;
    color: rgb(134, 133, 133);    
    pointer-events: none;
}

.access-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.split-lines-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 268px;   
   margin-top: 14px;
   color: rgb(142, 142, 142);
   font-size: 13px;
   font-weight: 600;
}

.split-line {
   border-style: solid;   
   border-width: 0;
   border-top-width: 1px;
   width: 106px;
   border-color: rgb(219, 219, 219);
}

.forgot-password {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 10px;    
}

.login-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;  
    font-size: 14px;
    font-weight: 500;
    color: rgb(56, 81, 133);
    cursor: pointer;
}

.forgot-password-text {
    margin-top: 22px;
    font-size: 12px; 
    color: rgb(0, 55, 107);
    cursor: pointer;
}

.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    background-color: white; 
    width: 350px;
    height: 61px;
    margin-top: 10px;
}

.facebook-icon {
    height: 16px;
    margin-right: 8px;
}

.signup-link {
    margin-left: 4px;
    color: rgb(0, 149, 246);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.get-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    width: 350px;
    height: 102px; 
    font-size: 14px;
}

.google-play-icon {
    height: 40px;
    cursor: pointer;
}

.app-store-icon {
    height: 40px;
    margin-right: 4px;
    cursor: pointer;
}

@media screen and (max-width: 876px) and (min-width: 0) {
    .img-container {
        display: none;
    }
}

@keyframes opacityfades1 {
    from {
        opacity: 1;
    }

    17.8% {
        opacity: 1; 
    }

    25% {
        opacity: 0; 
    }

    92.8% {
        opacity: 0; 
    }

    to {
        opacity: 1;
    }
}

@keyframes opacityfades2 {
    from {
        opacity: 1;
    }

    42.8% {
        opacity: 1; 
    }

    50% {
        opacity: 0; 
    }

    to {
        opacity: 0;
    }
}

@keyframes opacityfades3 {
    from {
        opacity: 1;
    }

    67.8% {
        opacity: 1; 
    }

    75% {
        opacity: 0; 
    }

    to {
        opacity: 0;
    }
}